.cardcorazon{
    border: none;
    background-color: transparent;
    margin-left: 85%;
}

.cardcorazon:hover{
    color: rgb(201, 16, 16);
}

.card-uno{
    color: black;
    text-decoration: none;
} 

.card-uno:hover{
    color: rgb(201, 16, 16);
}

.card{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.8);

    
}